.main {
    display: flex;
    justify-content: center;
}

.box {
    margin: 20px;
    border: 2px solid grey;
    width: 500px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-box{
    width: 400px;
    height: 400px;
}

.img-box img {
    width: 400px;
    height: 400px;
}
